html,body {
    background-color: #fff;
    color: #000;
}

header {
    background-color: #ddd;
}

.todo-category {
    background-color: #f2f2f2;
}

.todo-category-total:hover {
    background-color: #fff;
}

.todo-category > a,
.todo-inventory > a {
    background-color: #ddd;
}

.todo-category > a:hover,
.todo-inventory > a:hover {
    background-color: #fff;
}

.todo-task-list > li:hover,
.todo-task-selected {
    background-color: #fff;
}

.todo-inventory {
    background-color: #eee;
}

.todo-inventory-category li:hover,
.todo-inventory-selected {
    background-color: #fff;
}

.todo-inventory-detail > dt {
    background-color: #fafaee;
}

.todo-inventory-detail dd:hover,
.todo-detail-selected {
    background-color: #fff;
}

.todo-spec-title {
    background-color: #f5f5f5;
}

.todo-spec-time {
    background-color: #FAFAD2;
}

/*addCatePanel*/
.add-cate-panel {
    background-color: #f1f1f1;
}

/*.add-cate-panel > h3{
    background-color: #f1f1f1;
}

.add-cate-btn > span {
    background-color: #f1f1f1;
}*/

