html,body {
    background-color: #fff;
    color: #000;
}

header {
    background-color: #ddd;
}

.category {
    background-color: #f2f2f2;
}

.category-total:hover {
    background-color: #fff;
}

.category > a,
.inventory > a {
    background-color: #ddd;
}

.category > a:hover,
.inventory > a:hover {
    background-color: #fff;
}

.task-list > li:hover,
.task-selected {
    background-color: #fff;
}

.inventory {
    background-color: #eee;
}

.inventory-category li:hover,
.inventory-selected {
    background-color: #fff;
}

.inventory-detail > dt {
    background-color: #fafaee;
}

.inventory-detail dd:hover,
.detail-selected {
    background-color: #fff;
}

.spec-title {
    background-color: #f5f5f5;
}

.spec-time {
    background-color: #FAFAD2;
}

/*addCatePanel*/
.add-cate-panel {
    background-color: #f1f1f1;
}


